.lista-card{
    display: flex;
    flex-wrap: wrap;
    column-gap: 5px;
    row-gap: 5px;

}
body{
    background-color: yellow;
}


.card{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(255, 255, 255);
}

.card-Detalhes{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(255, 255, 255);
}

.valorCom{
    font-size: 15px;
    font-weight: bold;
    color: green;
}

.valorSem{
    color: red;
    font-size: 15px;
    text-decoration: line-through;
}