
body{
    background-color: rgb(255, 255, 255);
    margin: 0px;
}


.menu{
   display: flex;
   flex-direction: row;
   column-gap: 15px;
   text-align: center;

}

.navbar{
    background-color: yellow;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
}

.navbar-detalhes{
    background-color: yellow;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
}

.elemento{
    display: flex;

}

a{
    color: black;
    text-decoration: none;
}

.lista-card{
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
}
.card{
    
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 300px;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    text-align: center;
}
.card-Detalhes{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    text-align: center;
}

.valorCom{
    color: green;
    font-size: 15px;
    font-weight: bold;
}
.valorSem{
    color: red;
    font-size: 15px;
    text-decoration: line-through;
}

.botao{
    height: fit-content;
}