.lista-card{
    display: flex;
    flex-wrap: wrap;
    column-gap: 5px;
    row-gap: 5px;

}


.card{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(255, 255, 255);
}


.card-Detalhes{
    border: 2px solid black;
    width: fit-content;
    background-color: rgb(255, 255, 255);
}


.valorCom{
    color: green;
    font-size: 15px;
    font-weight: bold;
}
.valorSem{
    color: red;
    font-size: 15px;
    text-decoration: line-through;
}

body{
    background-color: rgb(12, 184, 247);
}
